<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta http-equiv="refresh" content="7; url='https://www.w3docs.com'" />-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <img src="{{ '/assets/images/ctakes_logo.jpg' | relative_url }}" alt="Logo">
        </div>
        <div class="support-image">
            <img src="https://www.apache.org/images/SupportApache-small.png" alt="Support Apache">
        </div>
    </div>
    <h1 class="site-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
    <nav>
        <ul class="navigation">
            <li><a href="/intro/">Introduction</a></li>
            <li><a href="https://github.com/apache/ctakes/wiki" target="_blank">Ctakes Wiki</a></li>
            <li><a href="https://github.com/apache/ctakes" target="_blank">Git Repository</a></li>
            <li><a href="https://www.apache.org/" target="_blank">Apache</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="content">
        {{ content }}
    </div>

</main>

<footer style="background-color: #5F9EA0; padding: 20px;">
    <div class="container">
        <ul class="footer">
            <li><a href="www.apache.org/licenses/">License</a></li>
            <li><a href="www.apache.org/foundation/sponsorship.html">Donate</a></li>
            <li><a href="www.apache.org/foundation/thanks.html">Sponsors</a></li>
            <li><a href="www.apache.org/security/">Security</a></li>
            <li><a href="privacy.apache.org/policies/privacy-policy-public.html">Privacy</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
